@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.App {
  background-color: cornflowerblue;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  background-color: slategray;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 8px 10px #47293e;
}

.Header {
  background-color: blueviolet;
  width: 100%;
  height: 33.3%;
  background-image: url("../public/images/neon-sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Frame {
  /* background-image: url("../public/images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 3%;
  height: 7%;
  border-radius: 50%;
  border: 2px solid rgb(177, 78, 177); */
  /* cancel all above if not using background image */
  position: absolute;
  margin-bottom: 120px;
  text-align: center;
  transition: 0.2s all;
}

.Frame:hover {
  transform: translateY(-10px);
}

#Profile {
  height: 50%;
  width: 17%;
  border-radius: 50%;
  border: 2px solid rgb(177, 78, 177);
}

.Main {
  background-color: rgb(177, 78, 177);
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#Name {
  font-weight: bolder;
  padding-top: 20px;
}

.Main span {
  color: rgb(112, 48, 98);
  font-weight: lighter;
}

#Web3 {
  font-weight: lighter;
  font-size: small;
} 

#City {
  font-weight: lighter;
  font-size: small;
  color: rgb(112, 48, 98)
}

.Footer {
  /* background-color: rgb(112, 48, 98); */
  background-color: rgb(177, 78, 177);
  width: 100%;
  height: 33.3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.3px solid rgb(112, 48, 98);
}

.Stats {
  text-align: center;
  transition: 0.2s all;
}

.Stats:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.Stats p:nth-child(1) {
  font-weight: bold;
}

.Stats p:last-child {
  font-size: small;
  color: rgb(112, 48, 98)
}
